.wrapperHome{
  display: flex;
  width: 100%;
  height: 94vh;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.wrapperHome h1{
  margin-bottom: 30px;
}

.homeButton{
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
}

